.nombreLibro{
  font-size: 18px;
  text-transform: capitalize;
  
}
.foto_libro{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.alto-barra{
  height: 70px;
  margin:0 20px;
}
.alto-50{
  height: 30px;
  margin:0 20px;
  font-size: 14px;
}
.bg-barra{
  background-color: #f1f1f1;
  border-bottom: 1px solid black;
}
